@import "lib/normalize.less";
@import "lib/normalize-opentype.less";
@import "lib/fonts.less";

@darkBlue: #002856;
@darkGrey: darken(#E0DED9,20%);
@lightGrey: #E0DED9;
@lighterGrey: #F3F3F3;

@import "typography.less";
@import "method_table.less";
@import "bluelines.less";
@import "tabs.less";

html, body {
    background-color: #FFF;
}
body {
    overflow-x: hidden;
}

#container {
    width: 85%;
    min-width: 440px;
    max-width: 960px;
    margin: 0 auto;
}