@import "lib/normalize.less";
@import "lib/normalize-opentype.less";
@import "lib/fonts.less";

@darkBlue: #002856;
@lightGrey: #E0DED9;
@lighterGrey: #F3F3F3;

@import "typography.less";
@import "header.less";
@import "tabs.less";

html, body {
    background-color: #FFF;
}

#container {
    width: 80%;
    min-width: 440px;
    max-width: 960px;
    margin: 0 auto;
}